<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AuctionMaxPeriodInMonths" value="4" />
    <add key="MinAuctionBeginPrice" value="10" />
    <add key="MinAuctionBeginPriceCurrencyName" value="Euro"/>
    <add key="MaxRaisePercentage" value="0.1"/>
  </appSettings>
</configuration>